.Home {
    max-width: 100%;
}

.search__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 9vh;
    margin-left: 10vh;
}

.search__text {
    margin-right: 8vh;
    font-size: 2.9vh;
    cursor: default;
}

.craving__orange {
    color: #ff914d;
}

.search__input {
    display: flex;
    flex-direction: row;
}

.search__inputfield {
    border: none;
    border-bottom: 2px dashed #ff9e62;
    outline: none;
    width: 70vh;
    padding-left: 1.5vh;
    padding-bottom: 0vh;
    font-size: 2.5vh;
}

.search__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh 1vh;
    margin-left: 3vh;
    width: 5vh;
    border: none;
    border-radius: 1.3vh;
    background-color: #fda065;
    cursor: pointer;
}
