* {
    margin: 0;
    padding: 0;
}

.Login {
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 0;
    overflow: hidden;
}

.login__imagecontainer {
    padding: 0;
    margin-left: -20vh;
}

.login__image {
    height: 100vh;
    width: 100%;
    margin-bottom: 0;
}

.login__auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #ff914d;
    width: 70vh;
    height: 100vh;
}

.login__logo {
    margin: 15% 0;
    height: 40vh;
}

.login__nonimage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25vh;
    width: 70%;
    background-color: #f2a97c;
    padding-top: 5vh;
    padding-top: 5vh;
    padding-bottom: 10vh;
    border-radius: 5vh;
}

.login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login__forminputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7%;
    width: 100%;
}

.login__form__inputfield {
    width: 70%;
    outline: none;
    height: 3vh;
    border: 3px solid #5271ff;
    border-radius: 1vh;
    padding-left: 1vh;
}

.login__form__button {
    margin-top: 10%;
    margin-bottom: 10%;
    height: 4vh;
    width: 40%;
    background-color: #5271ff;
    border: none;
    border-radius: 1vh;
    font-size: 2vh;
    color: #d9d9d9;
    cursor: pointer;
}

.register__text {
    font-size: 1.7vh;
}

.register__link {
    text-decoration: none;
    text-align: center;
    color: #5271ff;
    text-shadow: 0.25px 0.25px;
}

@media screen and (max-width: 500px) {
    .login__imagecontainer {
        display: none;
    }
    .login__image {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .login__imagecontainer {
        padding: 0;
        margin-left: -80vh;
    }

    .login__image {
        height: 100vh;
        width: 120%;
        margin-left: -0vh;
        margin-bottom: 0;
    }
}
